.account {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  text-align: center;
  background: rgb(50, 168, 82);
}

.accountBackground {
  height: 40rem;
  width: 80rem;
  background-color: white;
}

.lines {
  margin-top: 1.5rem;
  width: 20rem;
  margin-right: auto;
  margin-left: auto;
  background-color: grey;
  opacity: 50%;
  height: 0.01rem;
}

.logo {
  margin-top: 1rem;
  width: 20rem;
}

.profile {
  height: 5rem;
  margin: 2rem 5rem 2rem 5rem;
  background: lightgrey;
  border-radius: 10px;
}
